@media screen  and (min-width: 1020px){
    /* nav bar */
    nav.single-nav{
        padding: 0 40px;
        padding-top: 5px;
        height: 10vh;
        border-bottom: lightgrey solid 3px;
    }
    h1.main-title{
        color: black;
        font-size: 2vw;
        margin: none;
    }
    nav a{
        display: flex;
        align-self: center;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        display: flex;
        align-self: center;
    }
    #hamburger{
        display: none;
    }
    #menu{
        position: static;
        height: 100%;
        width: auto;
        display: flex;
        list-style-type: none;
    }   
    #menu li {
        font-size: 1vw;
    }
    #menu li a{
        width: auto;
        margin: 10px;
    }
    #menu.inactive{
        display: flex;
    }
    /* entry card */
    section.entry{
        margin: 15vh 0 8vh 0;
    }
    section.entry figure img{
        display: block;
        margin: 0 auto;
        width: 30vw;
    }
    section.entry article.card figcaption{
        font-size: 2vw;
        display: block;
        text-align: center;
        font-family: blackwood_castle_shadow, 'Times New Roman', Times, serif;
    }
    time{
        display: block;
        text-align: center;
        font-size: 12px;
    }
    .description{
        width: 30vw;
        font-size: 1.5vw;
        margin: 3vh auto;
    }
    nav.entry-nav{
        border:none;
        position: static;
        padding: 0 35vw;

    }
    nav.entry-nav a{
        font-family: mont_heavy, Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
        width:auto;
    }
    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        font-size: 30px;
    }
}