{% extends '_layout' %}

{% block stylesheets %}
    {% includeCssFile ""~siteUrl~"/single/style.css" %}
{% endblock %}

{% block logo %}
    <h1 class="main-title hoverd">A Sweet Gathering Place</h1>
{% endblock %}

{% block nav_menu %}
    <li><a href="../home/index.html">home</a></li>
    <li><a href="../single/index.html">pervious</a></li>
    <li><a href="../single/index.html">next</a></li>
    <li><a href="../about/index.html">about</a></li>
{% endblock %}

{% block main %}
    <!-- entry -->
    <section class="entry">
        <article class="card">
            <figure>
                <img src="{{ entry.image.one().url }}" alt="">
                <figcaption>{{ entry.title }}
                </figcaption>
                <time>11/11/11</time>
            </figure>
            <p class="headline">{{ entry.headline }}</p>
            <p class="description">
                {{ entry.copy }}
            </p>
            <nav class="entry-nav">
                <a href="" class="previous press">previous</a>
                <a href="index.html" class="next press">
                    next
                </a>
            </nav>
        </article>
    </section>
{% endblock %}

{% block javascript %}
    {% includeJsFile ""~siteUrl~"/single/main.js" %}
{% endblock %}
