{% extends '_layout' %}

{% block stylesheets %}
    {% do view.registerCssFile(""~siteUrl~"/single/style.css") %}
{% endblock %}

{% block logo %}
    <h1 class="main-title hoverd">A Sweet Gathering Place</h1>
{% endblock %}

{% block nav_menu %}
    <li><a href="/">home</a></li>
    <li><a href="">pervious</a></li>
    <li><a href="">next</a></li>
    <li><a href="/about">about</a></li>
{% endblock %}

{% block main %}
    <!-- entry -->
    <section class="entry">
        <article class="card">
            <figure>
                <img src="{{ entry.image.one().url }}" alt="">
                <figcaption>{{ entry.title }}
                </figcaption>
                <time>11/11/11</time>
            </figure>
            <p class="headline">{{ entry.headline }}</p>
                {{ entry.copy }}
            <nav class="entry-nav">
                <a href="" class="previous press">previous</a>
                <a href="index.html" class="next press">
                    next
                </a>
            </nav>
        </article>
    </section>
{% endblock %}

{% block javascript %}
    {% do view.registerJsFile(""~siteUrl~"/single/main.js") %}
{% endblock %}
