{% extends '_single_nav' %}
{% block main %}
    <!-- entry -->
    <section class="entry">
        <article class="card">
            <figure>
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
                <figcaption>title 
                </figcaption>
                <time>11/11/11</time>
            </figure>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et excepturi laboriosam voluptatem reprehenderit, facere minima beatae nobis. Accusantium cumque sapiente iste magni eius consequatur adipisci nisi, ipsam natus nobis maiores!</p>
            <nav class="entry-nav">
                <a href="index.html" class="previous press">previous</a>
                <a href="index.html" class="next press">
                    next
                </a>
            </nav>
        </article>
    </section>
{% endblock %}  
