@media screen  and (min-width: 700px){
    /* nav bar */
    nav.single-nav{
        padding: 0 15px;
        padding-top: 5px;
        height: 10vh;
        border-bottom: lightgrey solid 3px;
    }
    h1.main-title{
        color: black;
        font-size: 3.5vw;
        margin: none;
    }
    nav a{
        width: 23vw;
        display: flex;
        align-self: center;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        display: flex;
        align-self: center;
    }
    #single-burger{
        align-self: flex-start;
        font-size: 40px;
        color: grey;
    }
    #single-menu{
        position: relative;
        width: 30vw;
        top: 10vh;
        background-color: white;
        height: 22vh;
        list-style-type: none;
    }   
    #single-menu li {
        font-size: 4vw;
    }
    #single-menu li a{
        margin: 10px auto;
    }
    #single-menu.inactive{
        display: none;
    }
   
    /* entry card */
    section.entry{
        margin: 15vh 0 8vh 0;
    }
    section.entry figure img{
        display: block;
        margin: 0 auto;
        width: 60vw;
    }
    section.entry article.card figcaption{
        font-size: 8vw;
        display: block;
        text-align: center;
        font-family: blackwood_castle_shadow, 'Times New Roman', Times, serif;
    }
    time{
        display: block;
        text-align: center;
        font-size: 12px;
    }
    .description{
        width: 60vw;
        margin: 3vh auto;
    }
    nav.entry-nav{
        border:none;
        position: static;
        padding: 0 20vw;

    }
    nav.entry-nav a{
        width:auto;
    }
    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        font-size: 30px;
    }
}