<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/4b8a8366c7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="style.css">
    <title>home</title>
</head>
<body>
    <!-- nav bar -->
    <nav>
        <a href="index.html">
            <div class="logo-crop">
                <img id="logo" src="https://static.wixstatic.com/media/96b1b6_c0ef7d2259ca4193aa8433c698799f07~mv2_d_1280_1707_s_2.png/v1/fill/w_234,h_289,al_c,q_80,usm_0.66_1.00_0.01/96b1b6_c0ef7d2259ca4193aa8433c698799f07~mv2_d_1280_1707_s_2.webp" alt="indian creek logo">
            </div>
            <small>presents</small>
        </a>
        <menu>
            <i id="hamburger" class="material-icons">menu</i>
            <ul id="menu" class="inactive"
                style="display: none;"
            >
                <li><a href="../home/index.html">home</a></li>
                <li><a href="../about/index.html">about</a></li>
            </ul>
        </menu>
    </nav>
    <!-- title and headline -->
    <h1 class="main-title">A Sweet Gathering Place</h1>
    <span class="headline">Indian Creek Theraputics entry to The Flying M Coffee Garage Gingerbread sucpture contest</span>

    <section class="archive">
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
    </section>
    <footer>
        <a href="https://www.facebook.com/indiancreektherapeutics/">
            <i class="sm-icon press fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/explore/locations/1452196968132172/indian-creek-therapeutics-massage/?hl=en">
            <i class="sm-icon press fab fa-instagram"></i>
        </a>
        <a href="https://www.indiancreektherapeutics.com/">
            <i class="sm-icon press fa fa-water"></i>
        </a>
        <!-- <a href="https://www.flyingmcoffee.com/"> 
            <i class=" fa fa-mug-hot sm-icon press"></i>
        </a> -->
        <a href="https://www.google.com/maps/place/Flying+M+Coffee+Garage/@43.5771419,-116.5610125,17z/data=!3m1!4b1!4m5!3m4!1s0x54ae4c6bae97a139:0xac137fede69022d7!8m2!3d43.5771419!4d-116.5588238">
            <i class="sm-icon press fa fa-map-marker"></i>
        </a>
        <!-- <a href="https://github.com/TheLegendBreaker/site">
            <i class="sm-icon press fab fa-github"></i>
        </a> -->
    </footer>
</body>
<!-- <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/main.js"></script>
</html>