@import "../../static/fonts/mont/stylesheet.css";

/* mobile */
@media screen  and (max-width: 415px){
    body{
        overflow-x: none;
    }
    /* nav bar */
    nav{
        padding: 0 15px;
        padding-top: 10px;
        /* align-items: flex-start; */
        height: 70px;
    }
    .logo-crop{
        height: 48px;
        overflow: hidden;
    }
    #logo{
        position: relative;
        bottom: 12.6px;
        max-width: 60px;
    }
    nav a{
        display: flex;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        height: 100%;
        display: flex;
        align-self: center;
    }
    #hamburger{
        align-self: flex-start;
        font-size: 40px;
        color: grey;
    }
    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
    }   
    #menu li {
        font-size: 20px;
        margin: 5px;
    }
    /* title */
    h1{
        margin: 15vh 18px 0;
    }

    /* archive */
    section.archive{
        margin-bottom: 10vh;
    }
    section.archive article.card{
        height: 33vw;
        width: 33vw;
    }

    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        font-size: 30px;
    }
}