@import "mobile.css";
@import "tablet.css";
@import "desktop.css";

/* responsive animations */
@import "../static/animations.css";

/*--------------page element styling------------------*/

/* title and headline */
span.headline{
    display: block;
    text-align: center;
    font-size: 3vw;
    width: 90vw;
    margin: 0 auto;
}