
/* desktop */
@media screen and (min-width: 1030px){
    /* card animations */
    .hoverd{
        transform: scale(1);
        transition: transform 150ms ease-in-out;
        -moz-transition: transform 150ms ease-in-out;
        -webkit-transition: transform 150ms ease-in-out;
    }
    .hoverd:hover {
        z-index: 100;
        border: none;
        transform: scale(1.2);
    }       
}
