/* basic animations */
.press{
    transform: scale(1);
    color: grey;
    transition: transform  150ms ease-in-out;
    -moz-transition: transform  150ms ease-in-out;
    -webkit-transition: transform  150ms ease-in-out;

    transition: color 150ms ease-in-out;
    -moz-transition: color 150ms ease-in-out;
    -webkit-transition: color 150ms ease-in-out;
}

.press:active{
    color: lightpink;
    transform: scale(1.1);
}

/* desktop */
@media screen and (min-width: 1030px){
    /* card animations */
    .hoverd{
        position: relative;
        transform: scale(1);
        transition: transform 150ms ease-in-out;
        -moz-transition: transform 150ms ease-in-out;
        -webkit-transition: transform 150ms ease-in-out;
    }
    .hoverd:hover {
        z-index: 100;
        border: none;
        transform: scale(1.2);
    }       
}
