<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/4b8a8366c7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
    
    {% endblock %}
    <title>home</title>
</head>
<body>
    <nav>
        <a href="index.html">
        {% block logo %}
            
        {% endblock %}
        </a>
        <menu>
            <i id="hamburger" class="material-icons">menu</i>
            <ul id="menu" class="inactive"
                style="display: none;">
                {% block nav_menu %}
                
                {% endblock %}
            </ul>
        </menu>
    </nav>
  
    {% block main %}

    {% endblock %}
    
   <footer>
        <a href="https://www.facebook.com/indiancreektherapeutics/">
            <i class="sm-icon press fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/explore/locations/1452196968132172/indian-creek-therapeutics-massage/?hl=en">
            <i class="sm-icon press fab fa-instagram"></i>
        </a>
        <a href="https://www.indiancreektherapeutics.com/">
            <i class="sm-icon press fa fa-water"></i>
        </a>
        <!-- <a href="https://www.flyingmcoffee.com/"> 
            <i class=" fa fa-mug-hot sm-icon press"></i>
        </a> -->
        <a href="https://www.google.com/maps/place/Flying+M+Coffee+Garage/@43.5771419,-116.5610125,17z/data=!3m1!4b1!4m5!3m4!1s0x54ae4c6bae97a139:0xac137fede69022d7!8m2!3d43.5771419!4d-116.5588238">
            <i class="sm-icon press fa fa-map-marker"></i>
        </a>
        <!-- <a href="https://github.com/TheLegendBreaker/site">
            <i class="sm-icon press fab fa-github"></i>
        </a> -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block javascript %}

{% endblock %}
</html>
