{% extends '_layout' %}

{% block stylesheets %}
    {% includeCssFile ""~siteUrl~"/static/style.css" %}
    {% includeCssFile ""~siteUrl~"/home/style.css" %}
{% endblock %}

{% block logo %}
    <div class="logo-crop">
        <img id="logo" src="https://static.wixstatic.com/media/96b1b6_c0ef7d2259ca4193aa8433c698799f07~mv2_d_1280_1707_s_2.png/v1/fill/w_234,h_289,al_c,q_80,usm_0.66_1.00_0.01/96b1b6_c0ef7d2259ca4193aa8433c698799f07~mv2_d_1280_1707_s_2.webp" alt="indian creek logo">
    </div>
    <small>presents</small>
{% endblock %}

{% block nav_menu %}
    <li><a href="../home/index.html">home</a></li>
    <li><a href="../about/index.html">about</a></li>
{% endblock %}

{% block main %}
   <!-- title and headline -->
    <h1 class="main-title">A Sweet Gathering Place</h1>
    <span class="headline">Indian Creek Theraputics entry to The Flying M Coffee Garage Gingerbread sucpture contest</span>

    <section class="archive">
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            <menu/article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
    </section>
{% endblock %}

{% block javascript %}
    <script src="../static/main.js"></script>
    <script src="main.js"></script>
{% endblock %}
