{% extends '_home_nav' %}
{% block main %}
   <!-- title and headline -->
    <h1 class="main-title">A Sweet Gathering Place</h1>
    <span class="headline">Indian Creek Theraputics entry to The Flying M Coffee Garage Gingerbread sucpture contest</span>

    <section class="archive">
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img class="img" src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            <menu/article>
        </a>
        <a href="../single/" class="entry-link">
            <article class="card hoverd">
                <img src="../../static/imgs/IMG_2478.JPEG" alt="">
            </article>
        </a>
    </section>
{% endblock %}
