/*---------------- mobile --------------------*/
@media screen  and (max-width: 700px){
    /* nav bar */
    nav{
        padding: 0 20px;
        padding-top: 5px;
        height: 55px;
        border-bottom: lightgray solid 2px;
    }
    h1.main-title{
        color: black;
        font-size: 5vw;
    }
    nav a{
        display: flex;
        align-self: center;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        display: flex;
        align-self: center;
    }
    #hamburger{
        align-self: flex-start;
        font-size: 40px;
        color: grey;
    }
    #menu{
        position: relative;
        top: 50px;
        background-color: white;
        list-style-type: none;
        padding: 20px;
        -moz-box-shadow:    inset 0 0 10px grey;
        -webkit-box-shadow: inset 0 0 10px grey;
        box-shadow:         inset 0 0 20px grey;
    }
    menu i.close-menu{
        text-align: center;
        width: 100%;
    }
    #menu li {
        font-size: 4vw;
    }
    #menu li a{
        margin: 10px auto;
    }
    #menu img.close-menu{
	height: 10px;
	margin: 5px auto;
    }
    #menu.inactive{
        display: none;
    }

    /* entry card */
    section.entry{
        margin: 15vh 0 8vh 0;
    }
    section.entry article.card figcaption{
        font-size: 8vw;
        display: block;
        text-align: center;
        font-family: blackwood_castle, 'Times New Roman', Times, serif;
    }
    time{
        display: block;
        text-align: center;
        font-size: 12px;
    }
    p{
        width: 80vw;
        margin: 3vh auto;
    }
    nav.entry-nav{
        border:none;
        position: static;
        padding: 0 15vw;

    }
    nav.entry-nav a{
        width:auto;
    }
    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        height: 30px;
    }
}

/*---------------- tablet ----------------*/
@media screen  and (min-width: 700px){
    /* nav bar */
    nav.single-nav{
        padding: 0 15px;
        padding-top: 5px;
        height: 10vh;
        border-bottom: lightgrey solid 3px;
    }
    h1.main-title{
        color: black;
        font-size: 3.5vw;
        margin: none;
    }
    nav a{
        display: flex;
        align-self: center;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        display: flex;
        align-self: center;
    }
    #hamburger{
        align-self: flex-start;
        font-size: 40px;
        color: grey;
    }
    #menu{
        position: relative;
        top: 10vh;
        background-color: white;
        list-style-type: none;
        padding: 20px;
        -moz-box-shadow:    inset 0 0 10px grey;
        -webkit-box-shadow: inset 0 0 10px grey;
        box-shadow:         inset 0 0 20px grey;
    }
    #menu li {
        font-size: 4vw;
    }
    #menu li a{
        margin: 10px auto;
    }
    #menu img.close-menu{
	height: 20px;
	margin: 5px auto;
    }
    #menu.inactive{
        display: none;
    }

    /* entry card */
    section.entry{
        margin: 15vh 0 8vh 0;
    }
    section.entry figure img{
        display: block;
        margin: 0 auto;
        width: 60vw;
    }
    section.entry article.card figcaption{
        font-size: 5vw;
        display: block;
        text-align: center;
        font-family: blackwood_castle_shadow, 'Times New Roman', Times, serif;
    }
    time{
        display: block;
        text-align: center;
        font-size: 12px;
    }
    section.entry p{
        width: 60vw;
        margin: 3vh auto;
    }
    nav.entry-nav{
        border:none;
        position: static;
        padding: 0 20vw;

    }
    nav.entry-nav a{
        width:auto;
    }
    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        height: 30px;
    }
}

/*------------------- desktop --------------------*/
@media screen  and (min-width: 1020px){
    /* nav bar */
    nav.single-nav{
        padding: 0 40px;
        padding-top: 5px;
        height: 10vh;
        border-bottom: lightgrey solid 3px;
    }
    h1.main-title{
        color: black;
        font-size: 2vw;
        margin: none;
    }
    nav a{
        display: flex;
        align-self: center;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        display: flex;
        align-self: center;
    }
    #hamburger{
        display: none;
    }
    #menu{
        position: static;
        padding: 0;
        height: 100%;
        width: auto;
        display: flex;
        list-style-type: none;
        -moz-box-shadow: 0 0 0 0 white;
        -webkit-box-shadow:0 0 0 0 white;
        box-shadow: 0 0 0 0 white;
    }
    #menu li {
        font-size: 20px;
    }
    #menu li a{
        width: auto;
        height: auto;
        margin: 10px;
    }
    #menu img.close-menu{
        display: none;
    }
    #menu.inactive{
        display: flex;
    }
    /* entry card */
    section.entry{
        margin: 15vh 0 8vh 0;
    }
    section.entry figure img{
        display: block;
        margin: 0 auto;
        width: 30vw;
    }
    section.entry article.card figcaption{
        font-size: 2vw;
        display: block;
        text-align: center;
        font-family: blackwood_castle_shadow, 'Times New Roman', Times, serif;
    }
    time{
        display: block;
        text-align: center;
        font-size: 12px;
    }
    .description{
        width: 30vw;
        font-size: 1.5vw;
        margin: 3vh auto;
    }
    nav.entry-nav{
        border:none;
        position: static;
        padding: 0 35vw;

    }
    nav.entry-nav a{
        font-size: 1.5vw;
        width:auto;
    }
    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        height: 30px;
    }
}



/*---------------base page styling -------------*/
/*nav bar*/
h1.main-title{
    font-family: blackwood_castle;
    letter-spacing: 2px;
}

/* entry card  */
p.headline{
    font-family: blackwood_castle, 'Times New Roman', times, serif;
    text-align: center;
}
nav.entry-nav a{
    margin: 0 auto;
    font-family: mont_heavy, Arial, Helvetica, sans-serif;
}
