/*@import "../static/fonts/blackwood-castle-shadow/stylesheet.css";*/
@import "mobile.css";
@import "tablet.css";
@import "desktop.css";

/* responsive animations */
@import "static/animations.css";

/*---------------base page styling -------------*/
/*nav bar*/
h1.main-title{
    font-family: blackwood_castle;
    letter-spacing: 2px;
}

/* entry card  */
p.headline{
    font-family: blackwood_castle, 'Times New Roman', times, serif;
}
