{% extends '_layout' %}
{% block nav %}
    <!-- nav bar -->
    <nav>
        <a href="index.html">
            <div class="logo-crop">
                <img id="logo" src="https://static.wixstatic.com/media/96b1b6_c0ef7d2259ca4193aa8433c698799f07~mv2_d_1280_1707_s_2.png/v1/fill/w_234,h_289,al_c,q_80,usm_0.66_1.00_0.01/96b1b6_c0ef7d2259ca4193aa8433c698799f07~mv2_d_1280_1707_s_2.webp" alt="indian creek logo">
            </div>
            <small>presents</small>
        </a>
        <menu>
            <i id="hamburger" class="material-icons">menu</i>
            <ul id="menu" class="inactive"
                style="display: none;"
            >
                <li><a href="../home/index.html">home</a></li>
                <li><a href="../about/index.html">about</a></li>
            </ul>
        </menu>
    </nav>
{% endblock %}

{% block main %}

{% endblock %} 
