{% extends '_layout' %}
{% block nav %}
    <!-- nav bar -->
    <nav class="single-nav">
        <a href="../home/index.html">
            <h1 class="main-title hoverd">A Sweet Gathering Place</h1>
        </a>
        <menu>
            <div class="burger-listener">
                <i id="single-burger" class="material-icons">menu</i>
            </div>
            <ul id="single-menu" class="inactive" >
                <li><a href="../home/index.html">home</a></li>
                <li><a href="../single/index.html">pervious</a></li>
                <li><a href="../single/index.html">next</a></li>
                <li><a href="../about/index.html">about</a></li>
            </ul>
        </menu>
    </nav>
{% endblock %}

{% block main %}

{% endblock %}   
