{% extends '_layout' %}

{% block stylesheets %}
    {% do view.registerCssFile(""~siteUrl~"/about/style.css") %}
{% endblock %}

{% block logo %}
    <h1 class="main-title hoverd">A Sweet Gathering Place</h1>
{% endblock %}

{% block nav_menu %}
    <li><a class="press" href="/">home</a></li>
    <li><a class="press" href="/about">about</a></li>
{% endblock %}

{% block main %}
    <!-- main content -->
    <main>
        <section class="visual-content">
            <article class="card">
                <div class="vid">
                    <img src="../../static/imgs/a_sweet_gathering_place_dreamy.gif" alt="">
                </div>
                <p class="cta">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quasi temporibus itaque enim amet porro beatae ?
                </p>
            </article>
        </section>
        <section class="about">
                <hr>
            <article id="about-card" class="card">
                <p id="about1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Et excepturi laboriosam voluptatem reprehenderit, facere 
                </p>
                <p id="about2">
                    minima beatae nobis. Accusantium cumque sapiente iste 
                    magni eius consequatur adipisci nisi, ipsam natus nobis 
                    maiores!
                </p>
                <aside id="desk-display"></aside>
                <div class="map">
                    <iframe id="m-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.4114355200845!2d-116.56101248512246!3d43.57714576536448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54ae4c6bae97a139%3A0xac137fede69022d7!2sFlying%20M%20Coffee%20Garage!5e0!3m2!1sen!2sus!4v1576042058509!5m2!1sen!2sus" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <nav class="about-nav">
                    <a href="https://www.flyingmcoffee.com/"> 
                        <i class=" fa fa-mug-hot sm-icon press"></i>
                        <small>
                            Flying M Coffee Garage
                        </small>
                    </a>
                    <a href="https://github.com/TheLegendBreaker/site">
                        <i class="sm-icon press fab fa-github"></i>
                        <small>
                            source code
                        </small>
                    </a>
                </nav>
            </article>
        </section>
    </main>
{% endblock %} 

{% block javascript %}
    {% do view.registerJsFile(""~siteUrl~"/about/main.js") %}
{% endblock %}
