/* mobile */
@media screen  and (max-width: 700px){
    /* nav bar */
    nav{
        padding: 0 15px;
        padding-top: 5px;
        height: 60px;
        border-bottom: lightgray solid 2px;
    }
    h1.main-title{
        color: black;
        font-size: 3.5vw;
        letter-spacing: 2px;
    }
    nav a{
        width: 23vw;
        display: flex;
        align-self: center;
        flex-direction: row;
    }
    small{
        color: grey;
        font-size: 8px;
        align-self: center;
    }
    menu{
        display: flex;
        align-self: center;
    }
    #hamburger{
        align-self: flex-start;
        font-size: 40px;
        color: grey;
    }
    #menu{
        position: relative;
        width: 30vw;
        top: 10vh;
        background-color: white;
        height: 15vh;
        list-style-type: none;
    }   
    #menu li {
        font-size: 4vw;
    }
    #menu li a{
        margin: 10px auto;
    }
    #menu.inactive{
        display: none;
    }
   
    /* main content contianer */
    main{
        margin: 10vh 0 5vh 0;
        display: flex;
        flex-flow: wrap;
    }

    /* visual content */
    section.visual-content{
        width: 100vw;
    }
    section.visual-content article.card{
        width: 90vw;
        margin: 20px auto;
        display: flex;
        flex-direction: row-reverse;
    }
    p.cta{
        width: 45vw;
    }
    div.vid{
        background-color: lightpink;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        overflow: hidden;
        /* -moz-box-shadow:    inset 0 0 10px white;
        -webkit-box-shadow: inset 0 0 10px white;
        box-shadow:         inset 0 0 10px white; */
    }
    section.visual-content img{
        height: 100%;
        object-fit: cover;
    }

    /* about content */
    hr{
        width: 80vw;
        color: lightgrey;
        margin: 0 auto;
    }
    section.about{
        width: 100vw;
    }
    section.about article.card{
        display: flex;
        flex-direction: column;

        width: 90vw;
        margin: 20px auto;
    }
    #about1{
        order: 1;
    }
    #about2{
        order:3;
    }
    aside{
        display:none;
    }
    div.map{
        order:2;
        background-color: lightpink;
        margin: 20px auto;
        padding: 0 auto;
    }
    nav.about-nav{
        margin-top: 30px;
        order:4;
        border:none;
        position: static;
        padding: 0 15vw;

    }
    nav.about-nav a{
        display: flex;
        flex-direction: column;
        align-items:center;
        width:auto;
    }
    nav.about-nav small{
        margin-top: 2px;
        width: 85px;
        text-align: center;
    }
    /* footer */
    footer{
        padding: 12px 15px;
        justify-content: space-evenly;
    }
    footer a{
        margin: 0 10px;
    }
    .sm-icon{
        font-size: 30px;
    }
}